h1{
	font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
	font-size: 42px;
	background-color: black;
	color: white;
	margin: auto;
	padding: 10px 10px 10px 25px;
}

a {
	font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
	background-color: black;
	color: white;
	display: inline-block;
	margin: 10px;
	padding: 12px;
}

a:hover {
	color: yellow;
}

#googleAuthLink{
	background-color: transparent;
	margin: 0px;
	padding: 0px;
}

div {
	display: inline;
}

span{
	display: inline;
	margin: 10px;
}

#loginGoogle {
	border: none;
	display: inline;
	margin: 0px;
	padding: 0;
	vertical-align: middle;
}

#loginGoogle:active {
	border: solid yellow;
}

p {
	padding: 0px;
}

#statusLanding, #statusMain, statusProfile {
	margin-top: 0px;
	margin-left: 20px;
}

table, th, td {
   border: 1px solid black;
   padding: 5px;
   background-color: rgb(239, 235, 220);
   font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
   font-weight: bold;
}

td {
	border-radius: 8px;
	border-width: 3px;
	background-color: rgb(232, 224, 201);
	border-color: rgb(143, 112, 112);
	min-width: 750px;
	min-height: 500px;
}

img {
	display: block;
	border-style: double;
	padding: 5px;
	margin-left: auto;
	margin-right: auto;
}

.picDiv{
	text-align: center;
}

/* Profile Page*/
img#profilepic{
	width: 100%;
	height: 100%;
	max-width: 150px;
	max-height: 150px;
	display: inline-block;
}

input#picUpload{
	display: block;
}

#display {
	display: inline-block;
	border-collapse: collapse;
	border-spacing: 10px;
	margin-left: 30px;
}

#name, #email, #phone, #dob, #zip, #password {
	display: table-row;
}

#fieldName, #fieldEmail, #fieldPhone, #fieldDOB, #fieldZip, #fieldPassword {
	font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
	font-weight: bold;
	background-color: yellow;
	margin: 10px;
}

input {
	margin: 3px 10px;
}

#info{
	display: block;
	font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
	height: 100px;
	margin: 20px 0px 10px 0px;
	padding: 5px 20px;
	background-color: black;
}

#info:hover {
	font-weight: bold;
}

#infoName, #infoEmail, #infoPhone, #infoZip, #infoPassword {
	display: block;
	font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
	font-size: 18px;
}

#buttons{
	display: block;
	border-style: solid;
	border-width: 3px;
	border-color: black;
	margin: auto;
	padding: 5px;
	text-align: center;
}

#update {
	font-size: 24px;
	font-weight: bold;
	font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
	background-color: red;
	border-color: rgb(150, 0, 0);
	margin: auto;
	width: 80%;
	height: 90%
}

#update:hover {
	color: white;
	background-color: rgb(255, 77, 77);
	border-color: rgb(250, 0, 0);
}

/* Main Page */
#navButtons{
	display: block;
}

#pageFilter {
	display: block;
	margin: 5px;
	padding: 5px 20px;
	font-weight: bold;
	font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
	background-color: yellow;
	text-align: center;
}

#pageFilter #filterInput {
	width: 25%;
}

#sidebar{
	display: block;
	width: 21em;
	margin-left: 3px;
	margin-top: 8px;
	float: left;
	border-style: solid;
	background-color: lightgray;
	text-align: center;
	font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
}

#sidebar img{
	width: 100%;
	height: 100%;
	max-width: 100px;
	max-height: 100px;
	display: block;
	background-color: whitesmoke;
}

#sidebar button {
	margin: 5px;
	padding: 5px;
	border-radius: 3px;
	border-width: 3px;
	border-style: solid;
	border-color: antiquewhite;
	background-color: indianred;
	font-weight: bold;
	font-size: 15px;
}

#sidebar button:hover {
	border-color: red;
}

#sidebar button:active {
	border-style: inset;
}

#userHeadline {
	display: block;
	border-style: double;
	background-color: darkgray;
}

#updateStatusButton, #addFollowerButton{
	margin: 5px;
	padding: 5px;
	border-radius: 3px;
	border-width: 3px;
	border-style: solid;
	font-size: 12px;
	font-weight: bold;
}

#addFollowerButton{
	border-radius: 5px;
	padding: 0px 7px;
	font-size: 28px;
}

#addFollowerButton, #updateStatusButton {
	border-color: antiquewhite;
	background-color: lightgoldenrodyellow;
}

#addFollowerButton:hover, #updateStatusButton:hover {
	border-color: yellow;
}

#updateStatusButton:active, #addFollowerButton:active {
	border-style: inset;
}

#follower {
	display: block;
	border-style: groove;
}

#headerName {
	font-weight: bold;
	font-size: 24px;
	background-color: yellow;
	word-wrap: break-word;
}

#headerStatus {
	background-color: black;
	color: whitesmoke;
	border-color: black;
	border-style: solid;
	padding: 3px;
}

#post {
	width: 72%;
	height: 300px;
	border-style: solid;
	border-width: 8px;
	border-color: darkgray;
	display: block;
	margin-left: 24em;
	margin-top: 8px;
}

#postPic {
	margin-top: 150px;
	position: absolute;
}

#postButtons {
	margin-top: 250px;
	margin-right: 2%;
	float: right;
}

#postArticle {
	width: 70%;
	height: 90%;
	resize: none;
	overflow: scroll;
	margin: 10px;
}

#deck {
	border-style: solid;
	border-width: 8px;
	border-color: darkgray;
	display: block;
	width: 72%;
	margin-left: 24em;
}

.articleCard{
	background-color: whitesmoke;
	border-radius: 8px;
	padding: 12px;
	margin: 5px;
	display: block;
}

#articleInfo {
	font-weight: bold;
	font-size: 20px;
}

#articlePic {
	max-width: 700px;
	max-height: 700px;
	background-color: snow;
	border-style: double;
	border-width: 1px;
	display: block;
	margin-top: 20px;
	margin-bottom: 10px;
}

#articleText {
	font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
	background-color: snow;
	padding: 5px;
}

#editArticle {
	width: 100%;
	border-style: solid;
	border-color: yellow;
}

.comment {
	display: block;
	background-color: snow;
	border-style: solid;
	border-radius: 3px;
	border-color: lightgray;
	padding: 3px;
	padding-left: 8px;
	margin-left: 30px;
	margin-bottom: 5px;
}

#editComment {
    width: 100%;
	border-style: solid;
	border-color: yellow;
}

#commentAuthor{
    font-weight: bold;
	font-size: 16px;
}